<mat-grid-list cols="1" rowHeight="2:1" gutterSize="0">
  <mat-grid-tile>
    <mat-card style="width: 450px;padding: 0;margin:0;background-color: #2E88D1">
      <mat-card-title>
        <mat-grid-list cols="1" rowHeight="6:1" gutterSize="0">
          <mat-grid-tile>
            <a>
              <img src="https://dev.firstappos.com/assets/img/logo.png"
                style="width: 150px;height:60px;cursor: pointer;" />
            </a>
          </mat-grid-tile>
          <mat-grid-tile>
            <h4 style="color: white;font-size: 18px;">
              <mat-icon role="img" style="font-size: 36px;width: 40px; height: 40px;">exit_to_app
              </mat-icon>
              Login
            </h4>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-title>
      <mat-card-content style="background-color: #303030;padding: 10px;">
        <button mat-button style="text-align: center;color:#ffd740;width: 430px;text-decoration: bold">Don't have an
          account? Sign up
          now!</button>
        <form>
          <p>
            <mat-form-field appearance="outline" style="width: 430px">
              <mat-label>Email/Username</mat-label>
              <input matInput placeholder="Email/Username" style="">
              <mat-icon matPrefix>email</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" style="width: 430px">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
              <mat-icon matPrefix>lock</mat-icon>
              <mat-icon matSuffix>visibility_off</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <button mat-button style="text-align: center;color:#ffd740;width: 430px;text-decoration: bold;">Forgot
            Password?</button>
          <button mat-raised-button style="width:430px;color:white;background-color: #0288d1">Sign In</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->