<div class="main-header">
    <div>
        <h1>This is above and single</h1>
    </div>
    <div class="main">
        <p>
            <img src="https://dev.firstappos.com/assets/img/logo.png" />
        </p>
        <div class="main2">
            <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="Phone Number" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Phone Number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="Phone Number" />
            </mat-form-field>
        </div>
    </div>
</div>