<mat-toolbar *ngIf="show" class="main header">
    <a routerLink="/" style="width: 250px">
        <img src="https://dev.firstappos.com/assets/img/logo.png" style="width: 150px;height:60px;cursor: pointer;" />
    </a>
    <mat-icon (click)="toggleDrawer()">
        menu
    </mat-icon>
</mat-toolbar>
<mat-drawer-container *ngIf="show" class="example-container">
    <mat-drawer  [opened]="drawerOpen" class="drawer" mode="side" opened="true">

        <mat-toolbar class="header">
            <div>Logo</div>
            <mat-icon class="close" (click)="toggleDrawer()">close</mat-icon>
            
        </mat-toolbar>
        <div class="contents">
            Drawer
        </div>
    </mat-drawer>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>

<router-outlet *ngIf="!show"></router-outlet>