<mat-drawer-container *ngIf="show" class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="push" style="width: 200px">
        <mat-grid-list cols="1" rowHeight="50px" style="margin-top: 100px">
            <mat-grid-tile>
                <h1>hello</h1>
            </mat-grid-tile>
            <mat-grid-tile>
                <h1>hello</h1>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


<router-outlet *ngIf="!show"></router-outlet>