<div style="background-color: #303030;margin:0px;width:100%;color:white;padding-top:100px;">
  <div style="display: flex;flex-direction:column ;align-items: center;">
    <div>
      <mat-icon role="img" style="width: 40px;height:40px;font-size:40px;color:white">dashboard</mat-icon>
    </div>
    <div>
      <h4>Welcome to Dashboard</h4>
    </div>
  </div>
  <div>
    <button
      style="color:white;background-color: #2E88D1;color:white;border-radius: 50%;width: 40px;height: 40px;border:none;margin-right: 10px;margin-bottom: 20px;">
      <mat-icon>add</mat-icon>
    </button>
    <button style="color:white;background-color: #2E88D1;color:white;border-radius: 50%;width: 40px;height: 40px;border:none">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
<div class="grid-container contents" style="width: 95%;">
  <div style="display: flex;    justify-content: space-between;">
    <mat-card style="background-color: #3A9EE1;color:white;margin: 0;padding: 3px;">
      <h2 align="end">39</h2>
      <p style="color: white">
        COMPLETED APPLICATIONS
      </p>
    </mat-card>
    <mat-card style="background-color: #3A9EE1;color:white;margin: 0;padding: 3px;">
      <h2 align="end">39</h2>
      <p style="color: white">
        APPROVED APPLICATIONS</p>
    </mat-card>

    <mat-card style="background-color: #424242;color:white;margin: 0;padding: 3px;">
      <h2 align="end">39</h2>
      <p>DECLINED APPLICATIONS</p>
    </mat-card>

    <mat-card style="background-color: #424242;color:white;margin: 0;padding: 3px;">
      <h2 align="end">39</h2>
      <p>AVERAGE APPROVAL AMOUNT</p>
    </mat-card>

    <mat-card style="background-color: #424242;color:white;margin: 0;padding: 3px;">
      <h2 align="end">39</h2>
      <p>APPROVAL PERCENTAGE</p>
    </mat-card>
  </div>
  <mat-grid-list cols="4" rowHeight="500px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div [id]="card.id"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>